*, *::before, *::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100vh;

  /* margin-bottom: 60px; */
}
main
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card
{
  display: flex;
  gap: 1rem;
  min-width: 500px;
  min-height: 500px;
  background-color: red;
}
.search
{
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-values
{
  max-width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}
.item
{
  background-color: aqua;
  border: 2px, purple, solid;
}

